<!DOCTYPE html>
<html>
  <head>
    <title>Grilled</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Dosis:600|Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render('api/users/user.jbuilder', user: current_user).html_safe %>;
      </script>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
